
<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
    <!-- username -->
    <div class="container row mt-5">
    <div class="col-sm-3 col-md-7">
      
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputusername" name="username"  ngModel required #username="ngModel" #ref>
     
      
   </div>
  <div class="col-sm-3 col-md-7">
      <label for="inputPassword" class="form-label">New Password</label>
      <input type="password" name="password" id="inputPassword"  class="form-control" ngModel required #password="ngModel" #ref>
        <!-- validation for username -->
       
  </div> 
  <div class="col-md-7 col-sm-3">
   <label for="conpassword" class="form-label">Confirm Password</label>
   <input type="password" name="conpassword" id="conPassword"  class="form-control" ngModel required #conpassword="ngModel" #ref>
  </div>
 
  
   
   <div class="col-12 mt-3">
    <button class="btn btn-warning m-2" (click)="back()"><h6 class="fas fa-backward"></h6><b>Back</b></button>
    <button type="submit" class="btn btn-success"> <h6 class="fas fa-unlock-alt p-1"></h6><b>Reset Password</b> </button>
   </div>
   </div>
   
  </form>
  <h6 class="text-center text-danger" *ngIf="status">Passwords not matched</h6>