<p>home works!</p>
<div class="bg-light text-center" *ngIf="username!=null">
    <h3 class="d-1 pr-5"><h4 class="fas fa-user text-info p-2"></h4>{{username}}</h3>
    
    <button class="btn btn-success  px-4 float-end" (click)="logout()"><h6 class="fas fa-sign-out-alt m-1"></h6><b>Logout</b></button>
   
  </div>
  
  <div class="container mt-5">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
       <div *ngFor="let p of products">
          <div class="col">
          <div class="card border-success mb-3" style="border-radius: 5%;">
            <img [src]=p.productImgLink class="card-img-top mx-auto mt-2" style="height: 200px;width:200px;" alt="...">
           <div class="card-body">
             <h5 class="card-title text-center">{{p.productname}}</h5>
             <h5 class="card-text text-center">{{p.brand}}</h5>
             <h5 class="card-text text-center">{{(p.cost)| currency:"INR"}}</h5>
             
           </div>
           <div class="card-footer bg-transparent border-success">
              <div>
                <a  class="btn btn-warning" style="float: left;margin: 10px;"><h5 class="fas fa-eye m-1"></h5>View Product</a>
              </div>
              <div>
                <a  class="btn btn-info" style="float:right;margin: 10px;color: purple;" ><h5 class="fas fa-cart-arrow-down m-1"></h5>Add to Cart</a>
              </div>
           </div>
          </div>
          </div>
       </div>
     </div>
  </div>
  